name: Build ZMK Firmware

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Build Left Side
        uses: zmkfirmware/zmk-build-action@v0.4.1
        with:
          board: seeeduino_xiao_ble
          shield: corne_left
          keymap: corne
          keymap-path: config/corne.keymap
          config-path: config/corne.conf
      
      - name: Build Right Side  
        uses: zmkfirmware/zmk-build-action@v0.4.1
        with:
          board: seeeduino_xiao_ble
          shield: corne_right
          keymap: corne
          keymap-path: config/corne.keymap
          config-path: config/corne.conf
