name: Build Corne

on: [workflow_dispatch]

jobs:
  build-left:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:3.2
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Build Left
        run: |
          west init -l /github/workspace/config
          west update
          west zephyr-export
          
          west build -s zmk/app -b seeeduino_xiao_ble \
            -- -DSHIELD=corne_left \
               -DZMK_CONFIG="/github/workspace/config"
          
          cp build/zephyr/zmk.uf2 /github/workspace/corne_left.uf2
      
      - uses: actions/upload-artifact@v3
        with:
          name: left-firmware
          path: corne_left.uf2
  
  build-right:
    runs-on: ubuntu-latest
    needs: build-left
    container:
      image: zmkfirmware/zmk-build-arm:3.2
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Build Right
        run: |
          west init -l /github/workspace/config
          west update
          west zephyr-export
          
          west build -s zmk/app -b seeeduino_xiao_ble \
            -- -DSHIELD=corne_right \
               -DZMK_CONFIG="/github/workspace/config"
          
          cp build/zephyr/zmk.uf2 /github/workspace/corne_right.uf2
      
      - uses: actions/upload-artifact@v3
        with:
          name: right-firmware
          path: corne_right.uf2
