name: Build Firmware

on:
  workflow_dispatch:
    inputs:
      board:
        description: 'Board to build for'
        required: true
        default: 'seeeduino_xiao_ble'
        type: choice
        options:
        - bdn9_rev2
        - ble_micro840
        - bt60
        - bt60_v1
        - bt65
        - bt75
        - chocofi
        - corneish_zen_v1
        - corneish_zen_v2
        - crkbd_adv360_left
        - crkbd_adv360_right
        - dz60
        - eek
        - elephant42
        - ergodash
        - ferris_ble
        - ferris_ble_v2
        - ferris_ble_v2_arb
        - ferris_ble_v2_pro
        - ferris_compact_0_2
        - ferris_compact_0_2_ble
        - ferris_high
        - ferris_high_arb
        - ferris_high_pro
        - ferris_high_pro_arb
        - ferris_sweep
        - fourball
        - fumeric
        - ghoul
        - helix
        - humla
        - iris
        - jian
        - jiran
        - jorne
        - khonsu
        - kyria
        - kyria_rev2
        - kyria_rev3
        - lily58
        - lily58_ble
        - lowprokb_cornelius_au
        - lowprokb_cornelius_r2
        - lulu
        - manuform
        - microdox
        - mine
        - mister
        - mlego_m5
        - mlego_m50
        - naut60
        - nice60
        - nice_nano
        - nice_nano_v2
        - niu_mini
        - nrfmicro
        - nrfmicro_11
        - nrfmicro_13
        - nrfmicro_13_flipped
        - oscillation
        - plank
        - plain60
        - poet
        - preonic
        - puckball
        - qaz
        - quefrency
        - redox
        - rockon
        - rpi_pico
        - seeeduino_xiao_ble
        - serenade
        - sixkeyboard
        - sk62
        - sk68
        - skeadow
        - sobaya
        - sofle
        - splitreus62
        - splitkb_aurora_corne
        - splitkb_aurora_lily58
        - splitkb_aurora_sweep
        - splitkb_aurora_sofle
        - splitkb_kyria_avalanche
        - steno
        - sweep
        - tbkmini
        - tidbit
        - tractyl
        - tris
        - twox
        - units
        - uno
        - vulpes_mergere
        - wireless_split_main
        - wireless_split_right
        - xd75
        - xd84
        - ximi
        - zaphod
        - zhou
        - zodiark
        - zsa_blade
        - zsa_voyager
      shield:
        description: 'Shield to build for'
        required: true
        default: 'corne_left'
        type: choice
        options:
        - 4x12
        - 5x12
        - 6x6
        - 6x7
        - 6x9
        - afternoonlabs_breeze_common
        - afternoontasters_30
        - anavi_macropad8
        - ardux
        - atreus
        - atreus62
        - barobord
        - battlesnake
        - bbs
        - bh
        - binekb_ms40
        - brick
        - bt60
        - bt65
        - bt75
        - chocofi_left
        - chocofi_right
        - chocopad
        - cgs58
        - cheapino
        - choc_ergo
        - chonkykat
        - cofalcon
        - corne_left
        - corne_right
        - corneish_zen_v1_left
        - corneish_zen_v1_right
        - corneish_zen_v2_left
        - corneish_zen_v2_right
        - cornrow_7x3_left
        - cornrow_7x3_right
        - corny_left
        - corny_right
        - crkbd_adv360_left
        - crkbd_adv360_right
        - custard
        - dactyl_cc_left
        - dactyl_cc_right
        - dactyl_left
        - dactyl_left_promicro
        - dactyl_left_promicro_ws2812
        - dactyl_right
        - dactyl_right_promicro
        - dactyl_right_promicro_ws2812
        - dango40
        - dimple_left
        - dimple_right
        - dz60
        - eek
        - elefant42
        - elefant42_2
        - ergo42
        - ergodash_left
        - ergodash_right
        - ergotravel
        - ferris_0_2
        - ferris_0_2_ble
        - ferris_high
        - ferris_high_arb
        - ferris_high_pro
        - ferris_high_pro_arb
        - ferris_sweep_left
        - ferris_sweep_right
        - fourball
        - ghoul
        - helix_left
        - helix_right
        - hhkb_ble
        - humla_left
        - humla_right
        - ibis
        - iris_left
        - iris_right
        - jian_left
        - jian_right
        - jiran_left
        - jiran_right
        - jorne_left
        - jorne_right
        - jorne_rev1_left
        - jorne_rev1_right
        - kagami
        - karina_left
        - karina_right
        - katana
        - keebio_iris_left
        - keebio_iris_right
        - keebio_nyquist_left
        - keebio_nyquist_right
        - keebio_quefrency_left
        - keebio_quefrency_right
        - keebio_sinc_left
        - keebio_sinc_right
        - keebio_viterbi_left
        - keebio_viterbi_right
        - khonsu_left
        - khonsu_right
        - kyria_left
        - kyria_right
        - kyria_rev2_left
        - kyria_rev2_right
        - kyria_rev3_left
        - kyria_rev3_right
        - lily58_left
        - lily58_right
        - lily58_ble_left
        - lily58_ble_right
        - lily59_left
        - lily59_right
        - lowprokb_cornelius_au_left
        - lowprokb_cornelius_au_right
        - lowprokb_cornelius_r2_left
        - lowprokb_cornelius_r2_right
        - lulu_left
        - lulu_right
        - manuform_left
        - manuform_right
        - mark616
        - microdox_left
        - microdox_right
        - mine_left
        - mine_right
        - minidox_left
        - minidox_right
        - minidox_promicro_left
        - minidox_promicro_right
        - mister_left
        - mister_right
        - modelm
        - mt
        - mt40
        - mt980
        - naut60
        - nice60
        - nice_nano_4x12
        - nice_nano_5x12
        - nice_nano_6x6
        - nice_nano_6x7
        - nice_nano_6x9
        - niu_mini
        - northgallery_seeeduino_xiao_split_left
        - northgallery_seeeduino_xiao_split_right
        - northgallery_split_left
        - northgallery_split_right
        - numazuki
        - oscillation_left
        - oscillation_right
        - ozone
        - penguin_left
        - penguin_right
        - planck
        - plain60
        - poet_left
        - poet_right
        - preonic
        - puckball_left
        - puckball_right
        - qaz_left
        - qaz_right
        - quefrency_left
        - quefrency_right
        - redox_left
        - redox_right
        - reviung41
        - reviung53
        - rockon_bp_left
        - rockon_bp_right
        - rockon_v1_left
        - rockon_v1_right
        - rockon_v2_left
        - rockon_v2_right
        - rockon_v3_left
        - rockon_v3_right
        - sebastian_left
        - sebastian_right
        - serenade_left
        - serenade_right
        - sk62
        - sk68
        - skeadow_left
        - skeadow_right
        - sobaya_left
        - sobaya_right
        - sofle_left
        - sofle_right
        - splitreus62_left
        - splitreus62_right
        - splitkb_aurora_corne_left
        - splitkb_aurora_corne_right
        - splitkb_aurora_lily58_left
        - splitkb_aurora_lily58_right
        - splitkb_aurora_sweep_left
        - splitkb_aurora_sweep_right
        - splitkb_aurora_sofle_left
        - splitkb_aurora_sofle_right
        - splitkb_kyria_avalanche_left
        - splitkb_kyria_avalanche_right
        - sweep_left
        - sweep_right
        - tbkb_left
        - tbkb_right
        - tbkmini_left
        - tbkmini_right
        - tbkmini_rev2_left
        - tbkmini_rev2_right
        - tidbit
        - tractyl_left
        - tractyl_right
        - tris_left
        - tris_right
        - twox_left
        - twox_right
        - units_left
        - units_right
        - vulpes_mergere_left
        - vulpes_mergere_right
        - wireless_split_main
        - wireless_split_right
        - xd75
        - xd84
        - ximi_left
        - ximi_right
        - zhou_left
        - zhou_right
        - zodiark_left
        - zodiark_right
        - zsa_blade
        - zsa_voyager
      keymap:
        description: 'Keymap to build'
        required: true
        default: 'corne'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: zmkfirmware/zmk-build-action@v0.4.1
        with:
          board: ${{ github.event.inputs.board }}
          shield: ${{ github.event.inputs.shield }}
          keymap: ${{ github.event.inputs.keymap }}
