name: Build ZMK Firmware

on:
  workflow_dispatch:
    inputs:
      board:
        description: 'Board to build for'
        required: true
        default: 'seeeduino_xiao_ble'
        type: string
      shield:
        description: 'Shield to build for'
        required: true
        default: 'corne_left'
        type: string
      keymap:
        description: 'Keymap to build'
        required: true
        default: 'corne'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Build ZMK
        uses: zmkfirmware/zmk@main
        with:
          board: ${{ github.event.inputs.board }}
          shield: ${{ github.event.inputs.shield }}
          keymap: ${{ github.event.inputs.keymap }}
