name: Build Corne Firmware

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        
      - name: Build Left Side
        uses: zmkfirmware/zmk@main
        with:
          board: seeeduino_xiao_ble
          shield: corne_left
          keymap: corne
          
      - name: Build Right Side
        uses: zmkfirmware/zmk@main
        with:
          board: seeeduino_xiao_ble
          shield: corne_right
          keymap: corne
