name: Build Corne

on: [workflow_dispatch]

jobs:
  build-left:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker://zmkfirmware/zmk-build-arm:3.0
        with:
          args: build -b seeeduino_xiao_ble -s corne_left
          
  build-right:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker://zmkfirmware/zmk-build-arm:3.0
        with:
          args: build -b seeeduino_xiao_ble -s corne_right
